# .폴더명/ 으로 git을 업로드 안할 수 있음.
.vscode/
idea./

#####################
# Enviroment / Secrets
#####################

## 다음 해당하는 확장자를 git에 업로드 하지 않음
.env
*.key
*.pem

#####################
# JAVA/Spring 관련
#####################

*.java
*.gradle/
build/

#####################
# React / NodeJs 관련
#####################

node_modules/

#####################
# Package files
#####################

# .jar의 모든 것, .war의 모든 것, .ear의 모든 것
*.jar
*.war
*.ear